# EditorConfig is awesome: https://EditorConfig.org

root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Crystal files
[*.cr]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# ECR templates (Embedded Crystal)
[*.ecr]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# JSON files
[*.json]
indent_style = space
indent_size = 2

# JavaScript/TypeScript
[*.{js,ts}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
